<ion-content>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="back()">
      <
    </ion-fab-button>
  </ion-fab>

  <div class="container-fluid">
    <!-- Encabezado principal -->
    <div class="row encabezado">
      <div class="col-8 saludo">
        <img src="../../../assets/user-avatar-home.png" alt="Avatar user">
        <p>Hola, {{user.name}}</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/globitoapp_logo.png" alt="Logo">
      </div>
      <div class="row imagen">
        <div class="col">
          <img src="../../../assets/viajes-hechos.png" alt="Imagen inicio">
        </div>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="row main-content">
      <div class="row">
        <div class="col-12 titulo-1">
          <h5>Detalles de mi viaje...</h5>
        </div>
      </div>
      <!-- Vaijes realizados -->
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-12 viaje-realizado">
              <div class="card text-white">
                <img class="card-img" src="../../../assets/Kayak.jpg" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title">Kayak</h5>
                  <p class="card-text">Los Naranjos</p>
                </div>
              </div>
            </div>
            <div class="col-12 viaje-realizado">
              <div class="card text-white">
                <img class="card-img" src="../../../assets/senderismo.jpg" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title">Senderismo</h5>
                  <p class="card-text">Los Naranjos</p>
                </div>
              </div>
            </div>
            <div class="col-12 viaje-realizado">
              <div class="card text-white">
                <img class="card-img" src="../../../assets/food.jpg" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title">Comida</h5>
                  <p class="card-text">Lakefood</p>
                </div>
              </div>
            </div>
            <div class="col-12 viaje-realizado">
              <div class="card text-white">
                <img class="card-img" src="../../../assets/Hospedaje.jpg" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title">Hospedaje</h5>
                  <p class="card-text">Los Naranjos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>