<ion-content>
  <div class="container-fluid">
    <!-- Encabezado principal -->
    <div class="row encabezado">
      <div class="col-8 saludo">
        <img src="../../../assets/user-avatar-home.png" alt="Avatar user">
        <p>Hola, Vanessa</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/globitoapp_logo.png" alt="Logo">
      </div>
      <div class="row imagen">
        <div class="col">
          <img src="../../../assets/create-travel.png" alt="Imagen inicio">
        </div>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="row main-content">
      <div class="row create-travel">
        <div class="col-12 title">
          <p>Crea un nuevo viaje...</p>
        </div>
        <!-- Start date -->
        <div class="col-12 date-travel">
          <ion-label class="date-travel__label">&#xf073; Inicio de viaje</ion-label>
          <ion-datetime class="date-picker" displayFormat="D MMM YYYY" min="2020" max="2030" value="2020-05-10T11:06Z">
          </ion-datetime>
        </div>
        <!-- End date -->
        <div class="col-12 date-travel">
          <ion-label class="date-travel__label">&#xf073; Fin de viaje</ion-label>
          <ion-datetime class="date-picker" displayFormat="D MMM YYYY" min="2020" max="2020" value="2020-05-10T11:06Z">
          </ion-datetime>
        </div>
        <!-- Location travel -->
        <div class="col-12 date-travel">
          <ion-label class="date-travel__label">&#xf14e; Lugar</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Santa Cruz de Yojoa</ion-select-option>
          </ion-select>
        </div>
        <div class="col-12 btn-generate-itinerary">
          <button class="btn btn-generate" (click)="goItineraries()">GENERAR ITINERARIO</button>
        </div>

        <div class="col-12">
          <p>Resultados de actividades...</p>
        </div>

        <div class="col-12 travel-activities">
          <ion-button class="travel-activity activity-active">
            <div class="activity">
              <img src="../../../assets/activity_bicycle.png" alt="">
              <p>Bicicleta</p>
            </div>
          </ion-button>
          <ion-button class="travel-activity">
            <div class="activity">
              <img src="../../../assets/activity_hiking.png" alt="">
              <p>Senderismo</p>
            </div>
          </ion-button>
          <ion-button class="travel-activity activity-active">
            <div class="activity">
              <img src="../../../assets/activity_food.png" alt="">
              <p>Comida</p>
            </div>
          </ion-button>
          
        </div>
        <!-- Generate itinerary -->

      </div>
    </div>
  </div>
</ion-content>