<ion-content>
  <div class="container-fluid register-preferences">
    <!-- Parte del logo -->
    <div class="row logo">
      <img class="logo__image" src="../../../assets/globitoapp_logo.png" alt="">
      <h1 class="logo__text">Tu viaje soñado</h1>
    </div>

    <!-- Registro Stage 2 -->
    <div class="row registro__formulario">
      <img src="../../../assets/globitoapp_register-image1.png" alt="" class="registro__image--1">
      <h3>REGISTRO DE <br/> USUARIO</h3>
      <div class="registro__preferencia">
        <!-- Encabezado -->
        <div class="row">
          <div class="col">
            <h3 class="registro__preferencia-encabezado">Cuéntanos sobre <br/> tus preferencias</h3>
          </div>
        </div>
        <!-- Items -->
        <div class="row">
          <div class="col registro__preferencias-items">
            <button type="button" class="btn btn-preferencia-item btn-active">Científico</button>
            <button type="button" class="btn btn-preferencia-item">Ecoturismo</button>
            <button type="button" class="btn btn-preferencia-item btn-active">Aventura</button>
            <br/>
            <button type="button" class="btn btn-preferencia-item">Cultural</button>
            <button type="button" class="btn btn-preferencia-item">Gastronómico</button>
            <button type="button" class="btn btn-preferencia-item btn-active">Playa</button>
            <br/>
            <button type="button" class="btn btn-preferencia-item btn-active">Religioso</button>
            <button type="button" class="btn btn-preferencia-item">Histórico</button>
          </div>
        </div>
        <div class="row">
          <div class="col registrarme">
            <input class="registro__input--siguiente" type="submit" value="<">
            <button type="button" class="btn btn-preferencia-registro">REGISTRARME</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>