
<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button (click)='back()'>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Marcala</ion-card-subtitle>
      <ion-card-title>La Estanzuela</ion-card-title>
      <img src="../../../assets/Marcala1.jpg"/>
    </ion-card-header>
  
    <ion-card-content>
      Este sitio es portegido por una comunidad Lenca, los visitantes pueden disfrutar de la imponen cascada La Estanzuela,
      y practicar rapel y  caminar hasta la gruta El Gigante este salto de agua se encuentra en la aldea La Estanzuela, municipio de Marcala.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Marcala</ion-card-subtitle>
      <ion-card-title>Canopy El Chiflador</ion-card-title>
      <img src="../../../assets/Marcala2.jpg"/>
    </ion-card-header>
  
    <ion-card-content>
      Vale la pena vencer miedos y hacerlo; sobrevolar la reserva natural, tener la mejor vista para ver la caída de agua de la cascada
      y tener un panorámica de lujo de la pequeña ciudad de Marcala.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Marcala</ion-card-subtitle>
      <ion-card-title>Rapel</ion-card-title>
      <img src="../../../assets/Marcala3.jpg"/>
    </ion-card-header>
  
    <ion-card-content>
      Este sitio es portegido por una comunidad Lenca, los visitantes pueden disfrutar de la imponen cascada La Estanzuela,
      y practicar rapel y caminar hasta la gruta El Gigante este salto de agua se encuentra en la aldea La Estanzuela, municipio de Marcala.
    </ion-card-content>
  </ion-card>

</ion-content>


