<ion-content>

  <div class="container-fluid">
    <!-- Encabezado principal -->
    <div class="row encabezado">
      <div class="col-8 saludo">
        <img src="../../../assets/user-avatar-home.png" alt="Avatar user">
        <p>Hola, Vanessa</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/globitoapp_logo.png" alt="Logo">
      </div>
      <div class="row imagen">
        <div class="col">
          <img src="../../../assets/profile-image-1.png" alt="Imagen inicio">
        </div>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="row main-content">
      <div class="col-12 user-pic-profile">
        <img src="../../../assets/profile.png" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-12 user-name">
        <h5>Vanessa</h5>
      </div>
      <div class="col-12 user-preferences">
        <h5>Preferencias</h5>
        <div class="row">
          <div class="col-12 registro__preferencias-items">
            <button type="button" class="btn btn-preferencia-item btn-active">Científico</button>
            <button type="button" class="btn btn-preferencia-item">Ecoturismo</button>
            <button type="button" class="btn btn-preferencia-item btn-active">Aventura</button>
            <br/>
            <button type="button" class="btn btn-preferencia-item">Cultural</button>
            <button type="button" class="btn btn-preferencia-item">Gastronómico</button>
            <button type="button" class="btn btn-preferencia-item btn-active">Playa</button>
            <br/>
            <button type="button" class="btn btn-preferencia-item btn-active">Religioso</button>
            <button type="button" class="btn btn-preferencia-item">Histórico</button>
          </div>
        </div>
      </div>
      <div class="col-12 user-options">
        <!--<button type="button" class="user-option-save">Guardar</button>-->
        <button type="button" class="user-option-log-out" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</ion-content>