<ion-content>
      
      <ion-content fullscreen="true" slot="fixed" >
          <div class="card">
            <div class="header">
              <div class="avatar">
                <img src="../../../assets/profile.png" alt="">
              </div>
            </div>
            <div class="card-body">
              <div class="user-meta ion-text-center">
              <h3 class="playername">{{user.username}}</h3>
              <h5 class="country">{{user.name}} {{user.lastname}}</h5>
                <h6 class="ranking"> </h6>
              </div>
              <br/>
              <ion-card>
                <ion-card-content>
                  Keep close to Nature's heart... and break clear away, once in awhile,
                  and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
              </ion-card>
      
            </div>
          </div>
      </ion-content>
  
</ion-content>
