<ion-content>
  <br>
  <br>

  <div class="container-fluid login">
    
    <!-- Parte del logo -->
    <div class="row logo">
      <img class="logo__image" src="../../../assets/logo.png" alt="">
      <h1 class="logo__text">Tu viaje soñado</h1>
    </div>

    <!-- Login -->
    <div class="row login__formulario">
      <img src="../../../assets/globitoapp_login-image1.png" alt="" class="login__image--1">
      <form class="login__formulario--inputs">
        <input class="login__input--user" type="text" name="user" id="user" placeholder="&#xF007;  Usuario">
        <input class="login__input--password" type="text" name="password" id="password" placeholder="&#xF084; Contraseña">
        <input class="login__input--iniciar-sesion" type="submit" value="Iniciar Sesión">
      </form>
      <a href="#">Registrarse</a>
    </div>

  </div>

</ion-content>
