<ion-content>
  <div class="container-fluid">
    <!-- Encabezado principal -->
    <div class="row encabezado">
      <div class="col-8 saludo">
        <img src="../../../assets/user-avatar-home.png" alt="Avatar user">
        <p>Hola, Vanessa</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/globitoapp_logo.png" alt="Logo">
      </div>
      <div class="row imagen">
        <div class="col">
          <img src="../../../assets/viajes-hechos.png" alt="Imagen inicio">
        </div>
      </div>
    </div>
    <!-- Contenido principal -->
    <div class="row main-content">
      <div class="row">
        <div class="col-12 titulo-1">
          <h5>Cuentanos...</h5>
        </div>
        <!-- Input del usuario -->
        <div class="col-12 input">
          <div class="col-12 posteo-input">
            <textarea placeholder="¿Que tal estuvo tu última aventura?"></textarea>
            <div class="posteo-input__options">
              <button class="foto">&#xf03e;</button>
              <button class="postear">Publicar</button>
            </div>
          </div>
        </div>
        <!-- Timeline de posteos -->
        <div class="col-12 posteos">
          <!-- Post 1 -->
          <div class="post">
            <div class="info-usuario">
              <img src="../../../assets/user-pic-profile2.JPG" alt="foto perfil usuario">
              <div class="info-usario__name">
                <p><strong>Oscar Mendez</strong></p>
                <p>6 min</p>
              </div>
            </div>
            <div class="post-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veniam dolore fuga eius quaerat, quos culpa illum hic accusamus optio.</p>
              <a href="#"><img src="../../../assets/Senderismo-Timeline.jpg" alt="Foto post"></a>
            </div>
            <div class="post-reactions">
              <ul>
                <li class="like">&#xf164;</li>
                <li class="love">&#xf004;</li>
              </ul>
            </div>
          </div>
          <!-- Post 2 -->
          <div class="post">
            <div class="info-usuario">
              <img src="../../../assets/user-pic-profile.jpg" alt="foto perfil usuario">
              <div class="info-usario__name">
                <p><strong>Vanessa Avila</strong></p>
                <p>6 min</p>
              </div>
            </div>
            <div class="post-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veniam dolore fuga eius quaerat, quos culpa illum hic accusamus optio.</p>
              <a href="#"><img src="../../../assets/timeline.jpg" alt="Foto post"></a>
            </div>
            <div class="post-reactions">
              <ul>
                <li class="like">&#xf164;</li>
                <li class="love">&#xf004;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
