<ion-content>
  <div class="container-fluid">
    <!-- Encabezado principal -->
    <div class="row encabezado">
      <div class="col-8 saludo">
        <img src="../../../assets/user-avatar-home.png" alt="Avatar user">
        <p>Hola, Vanessa</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/globitoapp_logo.png" alt="Logo">
      </div>
      <div class="row imagen">
        <div class="col">
          <img src="../../../assets/viajes-hechos.png" alt="Imagen inicio">
        </div>
      </div>
    </div>
    <!-- Contenido principal -->
    <div class="row main-content">
      <div class="row">
        <div class="col-12 titulo-1">
          <h5>Viajes</h5>
        </div>
      </div>
      <!-- Vaijes realizados -->

    </div>
  </div>
</ion-content>
