<ion-content>
  <ion-content>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="center">
      <ion-button (click)="createNewTravel()">
        <ion-icon name="chevron-down"></ion-icon>
        <ion-label color="dark">¿A donde vas?</ion-label>
      </ion-button>
    </div>
    <ion-button class="button-recomendation" (click)="gotoRecommendations()">
      <ion-icon name="chevron-down"></ion-icon>
      <ion-label color="white">Recomendaciones para ti</ion-label>
    </ion-button>
  </ion-content>