<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="dismiss()">
      <
    </ion-fab-button>
  </ion-fab>
  <div class="container-fluid">
    <!-- Encabezado principal -->
    <div class="row encabezado">
      <div class="col-8 saludo">
        <img src="../../../assets/user-avatar-home.png" alt="Avatar user">
        <p>Hola, Vanessa</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/globitoapp_logo.png" alt="Logo">
      </div>
      <div class="row imagen">
        <div class="col">
          <img src="../../../assets/create-travel.png" alt="Imagen inicio">
        </div>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="row main-content">
      <div class="row create-travel">
        <div class="col-12 title">
          <br>
          <p>Metodo de pago<p>
        </div>
        <!-- Start date -->
        <div class="col-9 date-travel">
          <ion-input class="date-picker" placeholder="Tarjeta habiente"></ion-input>
        </div>
        <div class="col-3 date-travel">
          <ion-input class="date-picker" placeholder="CVV"></ion-input>
        </div>
        <!-- End date -->
        <div class="col-12 date-travel">
          <ion-input class="date-picker" placeholder="Numero de tarjeta"></ion-input>
        </div>
        <!-- Location travel -->
        <div class="col-6 date-travel">
          <ion-input class="date-picker" placeholder="mes"></ion-input>
        </div>
        <div class="col-6 date-travel">
          <ion-input class="date-picker" placeholder="año"></ion-input>
        </div>

        <div class="col-12 btn-generate-itinerary">
          <button class="btn btn-generate">PAGAR</button>
        </div>
        <div class="col-12">
        </div>

        <div class="col-12 travel-activities">
          <ion-button class="travel-activity">
            <div >
            </div>
          </ion-button>
          <ion-button class="travel-activity">
            <div >
            </div>
          </ion-button>
          <ion-button class="travel-activity ">
            <div>
            </div>
          </ion-button>
          <ion-button class="travel-activity">
            <div>
            </div>
          </ion-button>
          <ion-button class="travel-activity">
            <div>
            </div>
          </ion-button>
          <ion-button class="travel-activity">
            <div>
            </div>
          </ion-button>
        </div>
        <!-- Generate itinerary -->

      </div>
    </div>
  </div>
</ion-content>